{% extends 'base.html' %}
{% block content %}
<div style="max-width:500px; margin:50px auto; background:white; padding:20px; border-radius:10px; box-shadow:0 0 10px #ccc;">
  <h2>{{ product.name }}</h2>
  {% if product.image %}
    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="300">
  {% endif %}
  <p>{{ product.description }}</p>
  <h3>Price: ₹{{ product.price }}</h3>

  <form method="POST" action="{% url 'buy_product' product.id %}">
    {% csrf_token %}
   <a href="{% url 'checkout' %}?product_id={{ product.id }}" class="btn btn-primary">Confirm to Buy</a>

  </form>
</div>
{% endblock %}
